#course1{
    font-size: 24px;
    color: white;
    font-family: monospace;
    background-color: grey;
    border:2px solid black;
 
    
}
#course2{
    font-size: 24px;
    color: white;
    font-family: monospace;
    background-color: grey;
    border:2px solid black;
 
    
}
#course3{
    font-size: 24px;
    color: white;
    font-family: monospace;
    background-color: grey;
    border:2px solid black;
 
    
}
#course4{
    font-size: 24px;
    color: white;
    font-family: monospace;
    background-color: grey;
    border:2px solid black;
 
    
}